n8n-workflows/WF-03-hub-router.json
{
  "name": "WF-03-hub-router",
  "nodes": [
    {
      "parameters": {
        "path": "tutor-resource-webhook",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://daro-mtaani.vercel.app/api/hubs/route",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-shared-secret",
              "value": "={{$env.N8N_SHARED_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "landmarkCode",
              "value": "={{$json[\"body\"][\"landmarkCode\"]}}"
            },
            {
              "name": "requiredAssets",
              "value": "={{$json[\"body\"][\"requiredAssets\"]}}"
            }
          ]
        }
      },
      "name": "Hub Route API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"length\"]}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Hubs Found Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "message": "=Habari, tumepata kituo cha karibu cha kujifunzia: {{$json[0][\"name\"]}}.",
        "recipients": "={{$node[\"Webhook Trigger\"].json[\"body\"][\"parentPhone\"]}}"
      },
      "name": "SMS Parent Directions",
      "type": "n8n-nodes-base.africasTalking",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "bias_audit_log",
        "fields": {
          "action": "no_hub_available",
          "settlement": "={{$node[\"Webhook Trigger\"].json[\"body\"][\"settlement\"]}}",
          "notes": "=No hubs found for landmark {{$node[\"Webhook Trigger\"].json[\"body\"][\"landmarkCode\"]}}"
        }
      },
      "name": "Insert Bias Audit Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Hub Route API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hub Route API Call": {
      "main": [
        [
          {
            "node": "Hubs Found Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hubs Found Check": {
      "main": [
        [
          {
            "node": "SMS Parent Directions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Bias Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
