n8n-workflows/WF-04-badge-mint.json
{
  "name": "WF-04-badge-mint",
  "nodes": [
    {
      "parameters": {
        "path": "session-completed-webhook",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "tutors",
        "updateKey": "id",
        "fields": {
          "badge_level": "={{$json[\"body\"][\"new\"][\"badge_level\"] + 1}}"
        }
      },
      "name": "Update Tutor Sessions Count",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Update Tutor Sessions Count\"].json[\"badge_level\"]}}",
              "operation": "larger",
              "value2": 5
            }
          ]
        }
      },
      "name": "Check Badge Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://daro-mtaani.vercel.app/api/badges/generate-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-shared-secret",
              "value": "={{$env.N8N_SHARED_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tutorName",
              "value": "={{$json[\"display_name\"]}}"
            },
            {
              "name": "badgeName",
              "value": "Gold Certificate of Mentorship"
            }
          ]
        }
      },
      "name": "Generate PDF API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "badges",
        "fields": {
          "tutor_id": "={{$node[\"Update Tutor Sessions Count\"].json[\"id\"]}}",
          "badge_type": "Gold Mentorship Certificate",
          "certificate_url": "={{$json[\"url\"]}}"
        }
      },
      "name": "Insert Badge Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.LINKEDIN_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Check out my new Gold Certificate of Mentorship from DarasaMtaani! {{$node[\"Generate PDF API Call\"].json[\"url\"]}}"
            }
          ]
        }
      },
      "name": "LinkedIn Post Certificate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "badges",
        "updateKey": "id",
        "fields": {
          "linkedin_pushed": true
        }
      },
      "name": "Update Badge Push Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Update Tutor Sessions Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tutor Sessions Count": {
      "main": [
        [
          {
            "node": "Check Badge Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Badge Threshold": {
      "main": [
        [
          {
            "node": "Generate PDF API Call",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate PDF API Call": {
      "main": [
        [
          {
            "node": "Insert Badge Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Badge Row": {
      "main": [
        [
          {
            "node": "LinkedIn Post Certificate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Certificate": {
      "main": [
        [
          {
            "node": "Update Badge Push Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
