n8n-workflows/WF-05-hub-monitor.json
{
  "name": "WF-05-hub-monitor",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "value": [
            {
              "mode": "everyMinute",
              "value": 15
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "hubs",
        "filters": {
          "over_capacity": true
        }
      },
      "name": "Select Flagged Hubs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Check Flagged Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://daro-mtaani.vercel.app/api/hubs/route",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-shared-secret",
              "value": "={{$env.N8N_SHARED_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "landmarkCode",
              "value": "={{$json[\"settlement\"]}}-CENTRAL"
            }
          ]
        }
      },
      "name": "Re-Route Pending Queue API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "message": "=Kituo chako cha {{$node[\"Select Flagged Hubs\"].json[\"name\"]}} kimezidi uwezo (80%+). Tunahamisha wanafunzi.",
        "recipients": "+254700000000"
      },
      "name": "SMS Hub Manager",
      "type": "n8n-nodes-base.africasTalking",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Select Flagged Hubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Flagged Hubs": {
      "main": [
        [
          {
            "node": "Check Flagged Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Flagged Exist": {
      "main": [
        [
          {
            "node": "Re-Route Pending Queue API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Re-Route Pending Queue API": {
      "main": [
        [
          {
            "node": "SMS Hub Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
